.product-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.product-detail h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.add-to-wishlist,
.add-to-cart {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-to-wishlist:hover,
.add-to-cart:hover {
  background-color: #0056b3;
}

.add-to-wishlist {
  background-color: #dc3545;
}

.add-to-wishlist:hover {
  background-color: #c82333;
}

.react-image-gallery {
  margin-bottom: 20px;
}

/* Rater styles */
.react-rater-star {
  color: #ffd700; /* Gold color for the stars */
}
.image-gallery-image{
  height: 200px;
  width: 200px;
}